body{
  background-color: #5F8486;
}
.box-item{
  display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EFEFEF;
    height: 361px;
    width: 260px;
    border-radius: 2px;
    border: 2px solid #3D4141;
}

.item{
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  padding-top: 50px;
}


.img1{
  width: 50%;
  height: 50%;
}

h1{
  text-align: center;
  color: white;
  margin-top: 30px;
}